@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&display=swap');

:root {
    --main: rgb(151, 243, 255);
}

html{
    font-size: 62.7%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.section{
    margin: 0 auto;
    padding: 40px 100px;
}

p{
    font-weight: 250;
    line-height: 3rem;
}

h1{
    font-size: 6rem;
    font-family: Montserrat;
}

h2{
    font-size: 5rem;
    font-family: Montserrat;
}

h3{
    font-size: 4rem;
    font-family: Montserrat;
}

h4{
    font-size: 2.4rem;
    font-family: Barlow;
    margin: 2rem 0rem;
    font-weight: 600;
}

h5{
    margin: 1.6rem;
    font-weight: 400;
}

div{
    font-size: 1.6rem;
}

.faded {
    color: rgb(148, 148, 148);
}

#eng-projects-link {
    color: black;
}

.section-title{
    padding: 0 15rem;
    font-size: 2.8rem;
    font-weight: 300;
    position: relative;
    transition: top 1s, opacity 2s;
}

.eng-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
}

#placeholder-img {
    background-image: url(img/pepesaur.jpeg);
    background-size: contain;
}