@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&display=swap');

:root {
    --main: rgb(151, 243, 255);
}

html{
    font-size: 62.7%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p{
    font-weight: 250;
    line-height: 3rem;
}

h1{
    font-size: 6rem;
    font-family: Montserrat;
}

h2{
    font-size: 5rem;
    font-family: Montserrat;
}

h3{
    font-size: 4rem;
    font-family: Montserrat;
}

h4{
    font-size: 2.4rem;
    font-family: Barlow;
    margin: 2rem 0rem;
    font-weight: 600;
}

h5{
    margin: 1.6rem;
    font-weight: 400;
}

div{
    font-size: 1.6rem;
}

.faded {
    color: rgb(148, 148, 148);
}

#eng-projects-link {
    color: black;
}

.proj-section {
    margin: 60px 0 110px 0;
    position: relative;
    top: 100px;
    opacity: 0%;
    animation: projects-fadein 2s 0s 1 normal forwards;
} 

@keyframes projects-fadein {
    50% {
        top: 0;
    }  
    100% {
        top: 0;
        opacity: 100%;
    }
}

.section-title{
    padding: 0 15rem;
    font-size: 2.8rem;
    font-weight: 300;
    position: relative;
    transition: top 1s, opacity 2s;
}

#projects-title{
    top: -40px;
    opacity: 0%;
    animation: title-fadein 2s 0s 1 normal forwards;
} 

@keyframes title-fadein {
    50% {
        top: 0;
    }  
    100% {
        top: 0;
        opacity: 100%;
    }
}

.proj-container {
    margin: 50px auto;
    padding: 40px 100px;
    width: 80%;
    height: auto;
    min-height: 200px;
    border-radius: 20px;
    transition: .6s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proj-container:hover {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    transform: scale(1.03);
}

.eng-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 45%;
    max-width: 500px;
    height: 300px;
    border-radius: 5px;
}

#placeholder-img {
    background-image: url(img/pepesaur.png);
}

#placeholder2-img {
    background-image: url(img/toiletscene.png);
}

.descrip-container {
    width: 45%;
}

.descrip-header {
    display: flex;
}

.title {
    font-size: 5rem;
    margin: 0;
}

.arrow-btn {
    margin: 8px 0 0 15px;
    background-color: rgb(214, 214, 214);
    color: white;
    border: none;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.type{
    text-transform: uppercase;
    margin: 1.5rem 0rem;
    font-weight: 300;
    color:rgb(148, 148, 148);
}

.date{
    font-size: 1.7rem;
    font-weight: 300;
    margin: 1rem 0rem;
}

.award{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0 5px 0;
    cursor: pointer;
    transition: 1s ease;
}

.descrip{
    font-weight: 300;
    margin: 0;
}