@use "@material/image-list/mdc-image-list";

body {
    font-family: 'Agbalumo', 'Arvo', 'Josefin Sans', 'Rokkitt', 'Sanchez';
    font-family: 'Fira Mono', 'Noto Sans Mono', 'Sometype Mono', monospace;
    font-family: 'Sometype Mono', monospace;
    font-family: 'Noto Sans Mono', 'Sometype Mono', monospace;
    font-size: 1.4rem;

    /* Variable for grid gap */
    --img-grid-gap: 5px;
}

#stuff-link {
    color: var(--cyan);
}

.page-title {
    font-family: 'Gajraj One', sans-serif;
    font-family: inherit;
    font-family: 'Arvo', 'Josefin Sans', 'Rokkitt', 'Sanchez';
    font-family: 'Sanchez';
    font-family: 'Agbalumo';
    text-transform: uppercase;
    position: relative;
    left: -30px;

    font-size: 13vw;
    padding: 0 80px;
    margin: -40px 0 -10px 0;
    transform: scale(1, .6);

    /*font-size: 15vw;
    padding: 0 80px;
    margin: -40px 0 -10px 0;
    transform: scale(2, .9);
    height: 45vh;*/

    /*font-size: 20vw;
    margin-bottom: -50px;
    transform: scale(2, .9);*/

    /*font-size: 10vw;
    padding: 0 0 0 335px;
    transform: scale(2, 1);*/

    animation: textAnim ease 1s forwards;
    z-index: 0;
}
@keyframes textAnim {
    50% {
        transform: scale(1.1, .9);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}
@keyframes textAnim2 {
    50% {
        transform: scale(2, .6);
        left: -18vw;
    }
    100% {
        transform: scale(2, 1);
        left: -18vw;
    }
}

.sort-links {
    padding: 20px 0;
}
.sort-link {
    width: 100px;
    margin-right: 10px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sort-link:hover {
    text-decoration: none;
}

.selected {
    color: var(--magenta);
}

/* fluid 5 columns */
.grid-sizer,
.grid-item { 
    width: 33%; 
    height: auto;
    padding: var(--img-grid-gap);
}
@media (max-width: 770px) {
    .grid-sizer,
    .grid-item { 
        width: 50%; 
    }
    .stuff-container {
        padding: 0px;
    }
}

.stuff-container {
    width: 83vw;
    padding: 10px;
}

.card-container {
    position: relative;
    text-align: center;
    color: white;
}
img {
    width: 100%;
    height: auto;
}
.img-overlay:hover img {
    filter: blur(8px);
}
.img-link:hover {
    background-color: white;
}

/* Hover overlay for images */ 
.img-overlay {
    width: calc(100% - 2 * var(--img-grid-gap));
    height: calc(100% - 2.5 * var(--img-grid-gap));
    visibility: hidden; 
    background-color: rgba(0, 162, 255, 0.54);
    background-color: transparent;
    background-color: #33333340; 
    background-color: rgba(255, 0, 255, 0.575);
    color: #fff; 
    text-align: center;
    padding: 4px 8px;
    border-radius: inherit;
    position: absolute;
    z-index: 10;
    top: var(--img-grid-gap); 
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container:hover .img-overlay {
    visibility: visible;
    opacity: 1;
}
.img-container:hover img {
    filter: blur(8px);
}