@use "@material/image-list/mdc-image-list";

body {
    font-family: 'Agbalumo', 'Arvo', 'Josefin Sans', 'Rokkitt', 'Sanchez';
    font-family: 'Fira Mono', 'Noto Sans Mono', 'Sometype Mono', monospace;
    font-family: 'Sometype Mono', monospace;
    font-family: 'Noto Sans Mono', 'Sometype Mono', monospace;
    font-size: 1.5rem;
}

.page-title {
    font-family: 'Gajraj One', sans-serif;
    font-size: 20vw;
    margin: 0;
    padding: 0 50px;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item { 
    width: 33%; 
    padding: 5px;
}

.projects-container {
    width: 80vw;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    column-gap: 10px;
    row-gap: 15px;
}
.projects-container:hover {
    cursor: pointer;
    color: white;
}

.stuff-container {
    width: 83vw;
    padding: 30px;
}

img {
    width: 100%;
    height: calc(var(--width) * 2 / 3);
    height: auto;
}

.project-title {
    font-size: 1.5rem;
}