@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&display=swap');

#name{
    font-size: 2.8rem;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
    height: 20px;
}

.top-bar{
    margin: 0 0 10px 0;
    padding: 40px 80px 60px 80px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    display: flex;
    flex-grow: 4;
    font-weight: 600;
    font-family: Montserrat;
    justify-content: flex-start;
    align-items: center;
}

#toilet-model-container {
    padding-left: 10px;
}

#toilet-model {
    width: 60px;
    height: 60px;
}

.canvas{
    margin-left: 0px;
}

.canvas:hover {
    cursor: pointer;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    position: sticky;
    top: 0;
    text-transform: uppercase;
}

.menu-link {
    width: 80px;
    height: 10px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
    font-weight: 800;
    background-color: var(--cyan);
}