body {
    font-family: 'Agbalumo', 'Arvo', 'Josefin Sans', 'Rokkitt', 'Sanchez';
    font-family: 'Fira Mono', 'Noto Sans Mono', 'Sometype Mono', monospace;
    font-family: 'Sometype Mono', monospace;
    font-family: 'Noto Sans Mono', 'Sometype Mono', monospace;
    font-size: 1.4rem;
}

#work-link {
    color: var(--magenta);
}

.scribbles {
    display: none;
}

/*.page-title-container {
    position: relative;
    left: 0;
    width: 83vw;
    display: flex;
    justify-content: flex-end;
}*/
.page-title {
    font-family: 'Gajraj One', sans-serif;
    /*font-family: inherit;
    font-family: 'Arvo', 'Josefin Sans', 'Rokkitt', 'Sanchez';
    font-family: 'Sanchez';
    font-family: 'Agbalumo';
    text-transform: uppercase;
    position: relative;
    left: 0;*/

    /*font-size: 13vw;
    padding: 0 80px;
    margin: -40px 0 -10px 0;
    transform: scale(1, .6);*/

    font-size: 15vw;
    padding: 0 80px;
    margin: -40px 0 -10px 0;
    transform: scale(2, .9);

    /*font-size: 20vw;
    margin-bottom: -50px;
    transform: scale(2, .9);*/

    /*font-size: 10vw;
    padding: 0 0 0 335px;
    transform: scale(2, 1);*/

    animation: textAnim ease 1s forwards;
    z-index: 0;
}
@keyframes textAnim {
    50% {
        transform: scale(1.1, .9);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}
@keyframes textAnim2 {
    50% {
        transform: scale(2, .6);
        left: -18vw;
    }
    100% {
        transform: scale(2, 1);
        left: -18vw;
    }
}

.projects-container {
    position: relative;
    left: 0;
    width: 83vw;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    column-gap: 15px;
    row-gap: 15px;
}

.project-container {
    padding: 10px;
    border: 4px solid white;
    border-color: transparent;
}
.project-container:hover,
.project-container:active,
.project-container:focus {
    color: var(--gray);
    border-color: var(--gray);
    text-decoration: none;
}

.project-container-link:hover,
.project-container-link:active,
.project-container-link:focus {
    color: var(--magenta);
    border-color: var(--magenta);
    text-decoration: none;
}

img {
    object-fit: cover;
    width: 100%;
    height: calc(var(--width) * 5 / 11);
}

.project-title {
    font-size: 2.5rem;
    margin: 10px 0;
    font-family: 'Montserrat';
    font-family: 'Barlow';
    font-family: inherit;
}

.project-descrip {
    padding: 0;
    margin: 0;
}