body {
    font-family: 'Agbalumo', 'Arvo', 'Josefin Sans', 'Rokkitt', 'Sanchez';
    font-family: 'Fira Mono', 'Noto Sans Mono', 'Sometype Mono', monospace;
    font-family: 'Sometype Mono', monospace;
    font-family: 'Noto Sans Mono', 'Sometype Mono', monospace;
    font-size: 1.5rem;
}

.scribbles {
    display: none;
}

.page-title {
    font-family: 'Gajraj One', sans-serif;
    margin: 0;
    transition: 1s ease;

    font-size: 15vw;
    padding: 0 0 0 80px;
    margin-top: -40px;
    margin-bottom: -10px;
    transform: scale(2, .9);

    /*font-size: 20vw;
    margin-bottom: -50px;
    transform: scale(2, .9);*/

    /*font-size: 10vw;
    padding: 0 0 0 335px;
    transform: scale(2, 1);*/

    animation: textAnim ease 1s forwards;
    z-index: 0;
}
@keyframes textAnim {
    100% {
        transform: scale(1.1, .9);
    }
}

.projects-container {
    width: 83vw;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    column-gap: 15px;
    row-gap: 15px;
}

.project-container {
    padding: 10px;
    border: 2px solid var(--magenta);
    border-color: white;
}
.project-container:hover {
    cursor: pointer;
    color: var(--magenta);
    border-color: var(--magenta);
}

img {
    object-fit: cover;
    width: 100%;
    height: calc(var(--width) * 5 / 11);
}

.descrip-box {
    padding: 0px;
}

.project-title {
    font-size: 3rem;
    margin: 10px 0;
}

.project-descrip {
    margin: 5px 0;
}